.commment{
    display: flex;
    border-radius: 10px;
    padding: 5px 15px;
    margin-top: 10px;
}

.comment__info{
    margin-left: 10px;
    background-color: #3a3b3c;
    flex: 1;
    text-align: start;
    border-radius: 10px;
    padding: 5px 10px;
}

.username{
    font-weight: 700;
}

.comment__content{
    font-size: 14px;
}
.time{
    font-size: 12px;
    text-align: end;
    font-weight: 700;
}